/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
    --background-color: #001730;
    --button-color: #BD1E51;
    --card-color: #0a2644;
    --text-color: #fff;
}


body {
    /*overflow: hidden;*/
    /*background: #3A3E4B;*/
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}
small {
    color: var(--text-color);
}
.button-color {
    color: var(--button-color);
}


.card {
    background-color: var(--card-color);
    color: var(--text-color);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    transition: all 0.3s ease;
}

/*---------------------------------------
  NAV BAR
-----------------------------------------*/
.brand {
    color: var(--button-color);
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
    color: var(--text-color);
}

.border-hover.active,
.border-hover:focus,
.border-hover:hover {
    border-top: 4px solid var(--button-color);
    transform: translateY(-4px);
    color: var(--button-color) !important;
}

#sign-in {
    background: var(--button-color);
    border-radius: 50px;
    color: var(--text-color);
}

.navbar-toggler {
    border: 3px solid var(--button-color);
}


.navbar-toggler-icon {
    color: var(--button-color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-length {
    width: 90%;
}

.nav-img {
    height: auto;
    width: 20px;
}

.nav-item a .logo {
    height: auto;
    width: 100px;
}

.navbar-nav .dropdown-menu {
    background-color: var(--background-color);
    animation: ease-in-out 0.5s;
    border: none;
}


.nav-dropdown ul li a{
    text-decoration: none;
    color: var(--text-color);
}

.nav-dropdown ul li a:hover{
    color: var(--button-color);
    text-decoration: none;
}

.nav-dropdown ul li img{
    display: block;
    height: 100px;
    width: 100px;
    margin-right: 0.5rem;
}

.nav-dropdown ul li{
    list-style: none;
}

@media screen and (max-width : 992px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border-top: 0;
    }

    .nav-item .dropdown-menu .d-flex {
        display: block;
    }
}

/*-----------------------------------------
    LOGIN/SIGNUP MODAL
-------------------------------------------*/
.nav-tabs .nav-link.active {
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
}


.nav-tabs .nav-link {
    color: var(--text-color);
    border: none;
    transition: all 0.3s;
}
.modal-btn-close {
    color: var(--button-color);
    font-size: 1.5rem;
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    background: none;
    transition: all 0.3s;
}

.modal-content {
    background-color: var(--card-color);
    color: var(--text-color);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    transition: all 0.3s ease;
}

.login-signup {
    padding: 12px 32px;
    background: var(--button-color);
    border: none;
    border-radius: 50px;
    color: var(--text-color);
}


/*---------------------------------------
  MAIN HERO SECTION
-----------------------------------------*/
.content-block {
    height: 527px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.content-block .text-block {
    max-width: 543px;
}

.content-block span {
    display: block;
    color: var(--button-color);
    font-weight: bold;
}


.cus-btn.primary {
    background: var(--button-color);
}

.cus-btn {
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    transition: all 0.5s ease;
    color: #F8F8FF;
    width: fit-content;
}


.img-block {
    border-radius: 20px;
    height: 527px;
    display: grid;
    align-content: end;
    justify-content: center;
}

.img-block img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@media (max-width: 992px) {
    .hero-banner .content-block {
        height: auto;
        margin-bottom: 24px;
    }

    .hero-banner .img-block {
        height: auto;
        padding-top: 32px;
    }
}

/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    color: var(--text-color);
}

.social-icon-item .social-icon-link .svg-inline--fa{
    margin-right: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 36px;
    transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
    color: var(--button-color);
}


/*---------------------------------------
   ARTIST SECTION
-----------------------------------------*/
.artist-nav-tabs {
    border-bottom: 1px solid #ecf3f2;
    margin-bottom: 40px;
    justify-content: center;
}

.artist-nav-tabs .nav-item .nav-link {
    color: var(--text-color);
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 15px 25px;
    transition: all 0.3s;
}

.artist-nav-tabs .nav-link.active,
.artist-nav-tabs .nav-link:focus,
.artist-nav-tabs .nav-link:hover {
    border-bottom: 2px solid var(--button-color);
    color: var(--button-color);
}


/* Artist card */
.artist-block {
    background-color: var(--card-color);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    transition: all 0.3s ease;
    height: 100%;
}

.artist-block img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.artist-block .card-body h5{
    color: var(--button-color);
}
.artist-block .card-body p{
    color: var(--text-color);
}




/*---------------------------------------
   ARTIST DESCRIPTION SECTION
-----------------------------------------*/

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--button-color);
}
.artist-landing .breadcrumb .breadcrumb-item {
    color: var(--button-color);
}
.artist-landing .breadcrumb .breadcrumb-item a{
    color: var(--text-color);
}


.artist-aboutUs-content {
    height: 557px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    text-align: center;
}

.artist-img-block {
    border-radius: 80%;
    height: 150px;
    display: grid;
    align-content: end;
    justify-content: center;
}

.artist-img-block img {
    width: 150px;
    height: inherit;
    object-fit: cover;
    vertical-align: middle;
    border-radius: inherit;
}

.video-block {
    border-radius: 20px;
    height: 557px;
    display: grid;
    align-content: end;
    justify-content: center;
}

/*rating*/
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 1.5em;
    line-height: 1;
}
.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--percent), var(--text-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}