

:root {
    --background-color: #001730;
    --button-color: #BD1E51;
    /*--text-color: #F1B814;*/
    --text-color: #fff;
}
body {
    /*overflow: hidden;*/
    /*background: #3A3E4B;*/
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

.brand {
    color: var(--button-color);
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}


.border-hover:hover {
    border-top: 5px solid var(--button-color);
    transform: translateY(-4px);
}

#sign-in {
    background: var(--button-color);
    border-radius: 50px;
}

.navbar-toggler {
    border: 3px solid var(--button-color);
}


.navbar-toggler-icon {
    background-image: url(/static_files/svgs3/list.svg)
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-length {
    width: 90%;
}

.nav-img {
    height: inherit;
    width: 20px;
}

.navbar-nav .dropdown-menu {
    background-color: var(--background-color);
    animation: ease-in-out 0.5s;
    border: none;
}


.nav-dropdown ul li a{
    text-decoration: none;
    color: var(--text-color);
}

.nav-dropdown ul li a:hover{
    color: var(--button-color);
    text-decoration: none;
}

.nav-dropdown ul li img{
    display: block;
    height: 100px;
    width: 100px;
    margin-right: 0.5rem;
}

.nav-dropdown ul li{
    list-style: none;
}


.dropdown-item {
    display: inline-block;
    margin: 0.5rem;
}

@keyframes ease-in-out {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

/*hero section*/
/*.hero {*/
/*    color: var(--text-color);*/
/*}*/

/*.hero-carousel .carousel-item h1 span {*/
/*    font-weight: bold;*/
/*    color: var(--button-color);*/
/*}*/

.content-block {
    height: 527px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-block .text-block {
    max-width: 543px;
}

/*.bg-gradient {*/
/*    background: linear-gradient(180deg, #E8F3FF 0%, var(--button-color) 100%) !important;*/
/*}*/

.cus-btn.primary {
    background: var(--button-color);
}

.cus-btn {
    padding: 16px 32px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    transition: all 0.5s ease;
    color: #F8F8FF;
    width: fit-content;
}

.content-block, .img-block {
    border-radius: 20px;
}

.img-block {
    height: 527px;
    display: grid;
    align-content: end;
    justify-content: center;
}

.img-block img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@media screen and (max-width : 992px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border-top: 0;
    }

    .nav-item .dropdown-menu .d-flex {
        display: block;
    }
}
